@font-face {
    font-family: 'WS-light'; /* Webly Sleek UI Light*/
    src: url('../font/WeblySleek UI/weblysleekuil.ttf');
}
@font-face {
    font-family: 'WS-semibold'; /* Webly Sleek UI Semibold*/
    src: url('../font/WeblySleek UI/weblysleekuisb.ttf');
}

html, body {
  margin:0;
  padding: 0;
  font-family:WS-light;
}
p{
  font-size: 115%;
  margin: 0;
  color: white;
}
#loaderScreen{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: #131530;
  z-index: 6;
}
#loaderItem{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%  );
}
.headerLogo{
  display: flex;
  padding-left: 15px;
  padding-top: 15px;
}
.headerLogo>img{
  height: 100%;
  width: 150px;
}
.headerLogo>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: black;
  margin-left: 20px;
}
.headerLogo>span{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10vh;
  color: white;
  background: #354074;
  text-decoration: none;
}
.headerLogo>div>h1{
  font-size: 300%;
  font-family: WS-semibold,Calibri;
  margin: 0;
  color: #D2D2D2;
}
.topHeader z{
  font-family: WS-semibold, Calibri;
  font-size: 150%;
  color: #D2D2D2;
  margin: 0;
}
.headerLogo>div>h1:nth-child(2){
  font-size: 300%;
  font-family: WS-light, Calibri;
}
.topHeader>div>div>z:nth-child(2){
  font-family: WS-light, Calibri;
  margin: 0;
}
.navbarHome{
  display: flex;
  flex-direction: row;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
}
.blurMenu{
  min-width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  transition: 1s
}
.active{
  display: none;
}
#hamburBar{
  opacity: 0;
  position: absolute;
}
#hamburBar+label{
  display: none;
}
.horizontal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.mainContainer{
  /* display: inline-block; */
  min-width: 100%;
  height: auto;
  display: relative;
  height: 100vh;
}
.hilang{
  display: none!important;
  transition: 1s;
}
.topHeader{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  background: #131530;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  transition: 1s;
  /* margin :  10px 0 10px 0; */
}
.topHeader>div{
  display: flex;
  align-items: center;
  height: 100%;
}
.topHeader>div>div{
  margin-left: 15px;
  display: flex;
  flex-direction:column;
}
.bgsecOne{
  width: 100%;
  height: 100%;
}
.bg1{
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
}
/* Styling Section 1 */
.secOne{
  width: 100vw;
  background: #131530;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  /* position: absolute; */
}
.containers{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80vw;
  display: flex;
  align-items: center;
  text-align: center;
}
.containers>div{
  align-items: center;
  width: 50%;
  height: 100%;
  /* background: ; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
}
#tanggalBox{
  background: #252D50;
  border-radius: 100px;
  padding: 10px 25px;
  font-size: 250%;
}
.sosmedIcon{
  margin-top: 10px;
  display: flex;
}
.sosmedIcon>a{
  margin: 10px;
}
.Heading{
  margin-right: 25px;
  color: #D2D2D2;
}
.Heading>h3{
  margin-top: 2%;
  font-weight: 300;
  margin-bottom: 5%;
}
.Heading>h1{
  font-size: 500%;
}
.Heading>h2{
  margin-top: 5%;
}
.halo{
  height: 100vh;
  width: 50vw;
  /* width: 120%; */
  transform: translate(-15%,0);
}
.Register{
  margin: 10%;
  /* z-index: 1; */
  /* position: absolute; */
  left: 0;
  /* top: 50%; */
  /* transform: translate(-200%,-100%); */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Register>h3{
  font-family: WS-semibold, Calibri;
}
.Register>img{
  width: 100%;

}
.regButton{
  background: rgba(0, 0, 0, 0);
  width: 150px;
  border-width: 5px;
  border-color: white;
  font-size: 150%;
  font-family: WS-semibold;
  color: white;
  border-style: solid;
  border-radius: 3px;
  margin: 10px;
  padding: 5px 10px;
}
/* Styling Section 2 */
.secTwo{
  /* background: url('../assets/section23bg.png'); */
  background-image: linear-gradient(to right, #74C9D9, #000000);
  min-width: 200vw;
  background-size: cover;
  height: auto;
  display: relative;
  height: 100vh;
}
.Box1{
  margin-left: -25%;
}
.Box2{
  margin-left: -16%;
}
.Box3{
  margin-left: -10%;
}
.isoCity{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 10%;
  height: 25%;
  width: auto;
  margin-top: 7vh;
}
.stars{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 5%!important;
  height: 25%;
  width: auto;
  margin-top: 7vh;
}
.aboutSection{
  position: absolute;
  z-index: 1;
  left: 5%;
  height:30%;
  width: 60%;
  margin-top: 0;
  margin-right: 30%;
  top: 42%;
  white-space: normal;
  color: white;
}
.aboutSection>h2{
  color: lightblue;
}
.imgProgrammer{
  height: 30vh;
  margin-top: -7%;
}
.flexImg{
  display: flex;
  align-items: center;
}
.flexImg>img{
  margin-right: 5px;
}
.flexImg>h2{
  color: white;
}
.flexContent{
  height: 60vh;
  color: white;
}
.flexContent>div{
  display: flex;
  align-items: center;
  height: 25%;
}
.flexContent>div:nth-child(2){
  transform: translate(10%,0);
}
.flexContent>div:nth-child(3){
  transform: translate(20%,0);
}
.flexContent>div:nth-child(4){
  transform: translate(30%,0);
}
.flexContent>div>img{
  height: 100%;
  width: auto;
}
.flexContent>div>div{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  width: 40%;
}
.text{
  width: auto;
}

.cardPar{
  height: 100%;
  width: 10rem;
  word-wrap: break-word;
}
.flexRow{
  display: flex;
  flex-direction: column-reverse;
  margin-top: 20px;
}
.Section3{
  padding: 1%;
}
.Section3>img{
  width: 85vh;
  height: auto;
}
.regisCarousel{
  position: absolute!important;
  top: 5%;
  right: 0;
  background: #252D50;
  width: 45%;
  border-radius: 10px;
  transform: translate(-45%,0);
}
.carr{
  padding: 20px;
}
.footPath{
  z-index: 1;
  position: absolute;
  bottom: 0;
  margin-left: -10vw;
}
.bottomstatus{
  z-index: 2;
  background: rgba(0, 0, 0, 0.0);
  border-radius: 5px;
  margin: 10px 0;
  position: fixed;
  bottom: 0;
  left: 15vw;
  width: 70vw;
  height: 60px;
  transition: 0.5s;
  display: flex;
  transition-timing-function: ease-out;
  justify-content: center;
}
.bottomstatus:hover{
  background: #333;
}
.progress-container {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  width: 90%;
  /* margin: 0 20px; */
  height: 2px;
  background: #ccc;
}
/* The progress bar (scroll indicator) */
.progress-bar {
  /* margin: 20px; */
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  height: 2px;
  background: #335;
  width: 0%;

}
/* Carousell Styling */
.content{
	color: white;
  display: flex;
  align-items: center;
}
.content>img{
  width: 30%;
}
.content>div{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  width: 70%;
}
.flexCarousel{
	display: 	flex;
	flex-direction: 	row;
	justify-content: 	center;
}
.nn
{
	display: inline-block;
}
.carousel-item{
  /* display: flex!important; */
}
.carousel-item.active{
	display: flex!important;
}
.carrStyle{
  border-radius: 5px;
  position: absolute!important;
  left: 30%;
  top: 0;
  width: 50%;
  height: auto;
}

.clgSec{
  color: white;
  margin: 0 100px 100px 100px;
}
.clgSec>h2{
  color: lightblue;
}
.clg{
  height: 50%;
}
@media screen and (min-width: 1650px) {
  body{
    font-size: 20px;
  }
}

.lightBalls{
  background: url('../assets/Section2/lightBalls.svg');
}

/* SECTION 3 START*/
.secThree{
  min-width: 200vw;
  background-image: linear-gradient(to right, #54A1AF, #4E3F83);
  height: 100vh;
  z-index: 1;
  padding: 5%;
}
.spNmpBox{
  width: 100%;
  height: 100%;
  display: flex;
}
.sponsorBox{
  display: flex;
  width: 75%;
  background: white;
  margin-right: 20px;
  border-radius: 50px;
}
.mediaBox{
  width: 25%;
  background: white;
  border-radius: 50px;
  overflow: hidden;
}
.caption{
  width: 100px;
  height: 100%;
  background : #131530;
  border-radius: 50px 0 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.caption>h1{
  font-family: WS-semibold;
  color: white;
  transform: rotate(270deg);
  transform-origin: center;
  white-space: nowrap;
}
/*Sec Four*/
.secFour{
  min-width: 100vw;
  background:  #131530;
  color: #D2D2D2;
  padding: 5%;
  padding-right: 2%;
}
.secFour>div{
  height: 100%;
}
.fourHalf{
  height: 95%;
}
.faqContent p{
  font-family: ws-light;
}
.maps{
  /* min-height: 45%; */
}
.maps h1{
  width: 100%;
}
#map{
  height: 80%;
  min-height: 80%!important;
  width: 100%;
}
.locContainer{
  display: flex;
  min-height: 100%;
}
.locMaps{
  width: 55%;
}
.locDetails{
  padding-left: 5%;
  width: 40%;
  padding-bottom: auto;
}
.contactUs{
  height: 50%;
}
.formContact>form{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.formContact>form>input{
  margin-bottom: 10px;
  background-color: #d2d2d2;
  padding: 10px;
  border: none;
  padding-left: 20px;
  color: black;
  border-radius: 5px!important;
}
.formContact>form input:nth-last-child(1){
  padding-right: 20px!important;
  width: 6rem;
}
.formContact>form>textarea{
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 20px;
  background-color: #d2d2d2;
  border-radius: 5px!important;
}
.sosmedCard{
  padding: 20px;
  background: #d2d2d2;
  border-radius: 10px;
}
.sosmedCard>h5{
  color: black;
}
.sosmedCard i,.sosmedCard p{
  color: black;
  /* font-size: 120%; */
  margin-left: 20px;
  margin-bottom: 0;
}
.sosmedCard i{
  font-size: 200%
}
.fa-line{
  color: #00c300!important;
}
.fa-whatsapp-square{
  color: #25d366!important;
}
.fa-facebook{
  color: #3b5998!important;
}
.fa-instagram{
  color: #c32aa3!important;
}
.sosmedCard ul{
  list-style-type: none;
  padding: 0;
}
.sosmedCard li{
  display: flex;
  justify-content: flex-start;
}
.secFooter{
  min-width: 8%;
  height: 100vh;
  background: #131530;
  border-style: solid;
  border-width: 0;
  border-left-width: 5px;
  border-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 90%;
  padding: 15px;
}
.secFooter img{
  width: 90%;
  margin: 5%;
}
.secFooter p:nth-last-child(1){
  white-space: nowrap; transform: rotate(270deg); margin-bottom: 70px;
}
/* .secFooter dvi */
@media screen and (max-height: 1000px) {
    .Heading>h1{
      font-size: 350%;
    }
    p{
      font-size: 100%;
    }
}
@media screen and (max-height: 920px) {
    p{
      font-size: 100%;
    }
    .clg{
      height: 45%;
    }
    .formContact>form>input{
      padding: 5px;
    }
    .formContact>form input:nth-last-child(1){
      padding-right: 20px!important;
      width: 6rem;
    }
    .formContact>form>textarea{
      margin-bottom: 10px;
      padding: 5px;
      background-color: #d2d2d2;
      border-radius: 5px!important;
    }
}
@media screen and (max-height: 720px) {
    p{
      font-size: 85%!important;
    }
    h1{
      font-size: 240%!important;
    }
    h2{
      font-size: 110%!important;
    }
    h3{
      font-size: 110%!important;
    }
    .clg{
      height: 40%!important;
      margin-left: auto;
    }
}

/* Style FAQ ONLY */
.baris-faq{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 height: 70%;
}
.title-q{
 width: auto;
 background-color: #D2D2D2;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-content: center;
}
.question{
 margin: 2% 0%;
}
.state-tq{
 font-size: 11px;
 text-transform: bold;
 color: black;
 margin: 5%;
 margin-right: 2%;
}
.logo-tq{
 text-align: center;
 font-size: 40px;
 margin-right: 3%;
 cursor: pointer;
 color: #54A1AF;
}
.drop-q{
 /*display: block;*/
 padding: 5%;
 padding-top: 0;
 background-color: #D2D2D2;
 font-size: xx-small;
 color: black;
}

.hidden{
 display: none;
}
.upper{
 height: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.below{

 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
 color: white;
 width: 50%;

 position: fixed;
 height: auto;
 margin-top: 521px;
}
.below p{
 font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
 font-size: 22px;
 margin: 0;
 padding: 0;
}
.rotate-90{
 transform: rotate(180deg);
 transition: 1ms;
}
.height-faq{
 height: 100%;
}
.height-faq h1{
 display: inline-block;
}
.tanda-tanya{
 font-size: 35px;
 color: #54A1AF;
}
@media screen and (max-width: 1200px)
{
 .state-tq{
  font-size: 30px;
 }
 .logo-tq{
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
 .drop-q{
  font-size: 20px;
 }
}
