html, body {
  margin:0;
  padding: 0;
  font-family:Calibri;
  height: 100%;
}
.horizontal{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 300vw;
  height: 101vh;
  display: flex;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.mainContainer{
  /* display: inline-block; */
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
}
/* Styling Section 1 */
.secOne{
  width: 111vw;
  background: url('../assets/Section1/BackGround.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;

}
.containers{
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80vw;
  display: flex;
}
.containers>div{
  align-items: center;
  width: 50%;
  height: 100%;
  background: ;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
}
.halo{
  height: 120%;
  width: 120%;
  transform: translate(-15%,-15%);
}
.Register{
  margin: 5%;
}
.Register>h1{
  margin: 0;
}
.Register>button{
  background: rgba(0, 0, 0, 0);
  border-width: 5px;
  border-color: white;
  font-size: 15px;
  color: white;
  border-style: solid;
  border-radius: 3px;
  margin: 10px;
  padding: 10px 20px;
}
.hackathonBar{
  background-color: #31348c;
  padding: 10px 40px;
  font-size: 50px;
  margin: 10px;
  transform: translate(-20%,0);
}
.competitionBar{
  background-color: #31348c;
  padding: 10px 40px;
  font-size: 50px;
  margin: 10px;
}
.dayBar{
  background-color: #31348c;
  color: white;
  padding: 10px 40px;
  font-size: 50px;
  margin: 10px;
  transform: translate(-70%,0);
}
/* Styling Section 2 */
.secTwo{
  background: url('../assets/section23bg.png');
  width: 200vw !important;
  background-size: cover;
}
.Box1{
  margin-left: -25%;
}
.Box2{
  margin-left: -16%;
}
.Box3{
  margin-left: -10%;
}
.Box4{
  /* margin-left: 10%; */
}
.bgUngu{
  background-size: cover;
  /* margin-top: -5%; */
  background: url('../assets/Section2/Background/Path 46.png');
  width: 100%;
  background-position: 80% 50%;
}
.isoCity{
  position: absolute;
  z-index: 1;
  left: 15%;
  height: 30%;
  margin-top: 10%;
}
.aboutSection{
  position: absolute;
  z-index: 1;
  left: 15%;
  height:30%;
  margin-top: 0;
  margin-right: 25%;
  bottom: 30%;
  white-space: normal;
  color: white;
}
.aboutSection>h2{
  color: lightblue;
}
.imgProgrammer{
  height: 25%;
  margin-left: -5%;
  margin-top: -3%;
}
.bubbleWhy{
  padding-top: 5%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-left: 40px;
}
.text{
  width: 150px;
}

.flexRow>img{
  height: 100%;
  width: auto;
}
.flexRow>p,h4{
  margin: 5px 20px;
  color: white;
  height: 50%;
}

.cardPar{
  height: 100%;
  width: 10rem;
  word-wrap: break-word;
}
.flexRow{
  height: 25%;
  width: auto;
  word-wrap: break-word;
}
.Section3{
  padding: 1%;
}
.Section3>img{
  width: 85vh;
  height: auto;
}
.footPath{
  z-index: 1;
  position: absolute;
  bottom: 0;
  margin-left: -10vw;
}
.bottomstatus{
  z-index: 2;
  background: rgba(0, 0, 0, 0.0);
  border-radius: 5px;
  margin: 10px 0;
  position: fixed;
  bottom: 0;
  left: 15vw;
  width: 70vw;
  height: 60px;
  transition: 0.5s;
  display: flex;
  transition-timing-function: ease-out;
  justify-content: center;
}
.bottomstatus:hover{
  background: #333;
}
.progress-container {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  width: 90%;
  /* margin: 0 20px; */
  height: 2px;
  background: #ccc;
}
/* The progress bar (scroll indicator) */
.progress-bar {
  /* margin: 20px; */
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  height: 2px;
  background: #335;
  width: 0%;

}
/* Carousell Styling */
.content{
	color: white;
}
.image{
	padding: 40px;
}
.image > img{
	height: 80%;
	width: auto;
}
.flexCarousel{
	display: 	flex;
	flex-direction: 	row;
	justify-content: 	center;
}
.nn
{
	display: inline-block;
}
.carousel-item{
  /* display: flex!important; */
}
.carousel-item.active{
	display: flex!important;
}
.carrStyle{
  border-radius: 5px;
  position: absolute!important;
  left: 30%;
  top: 0;
  width: 50%;
  height: auto;
}
