@media screen and (max-width:1500px) {
  .secOne{
    background-position: right;
  }
}
@media screen and (max-width:1100px) {
  .containers{
    flex-direction: column;
    width: 100vw;
  }
  .Register{
    width: 100%;
    margin : 0;
  }
  .Register>img{
    height: 40%;
    width: auto;
  }
  .headerLogo{
    height: 10vh!important;
  }
  .headerLogo>img{
    width: 10vh!important;
  }
  .bg1{
    height: 100%;
  }
}
@media screen and (max-width: 1200px) {
  p{
    font-size:200%;
  }
  h2{
    font-size: 350%!important;
  }
  h3{
    font-size: 300%!important;
  }
  body{
    width: 100vw;
    max-width: 100vw;
  }
  .horizontal{
    display: block;
    position: relative;
  }
  .topHeader{
    position: sticky;
    left: 0;
    top: 0;
    z-index: 3;
    background: #131530;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 5px 20px;
    transition: 1s;
  }
  .topHeader>div>div{
    margin-left: 15px;
    font-size: 100%;
  }
  .topHeader>div>img{
    height: 100%;
  }
  .topHeader z{
    font-size: 150%;
  }
  #hamburBar + label{
    display: block;
  }
  .fa-bars{
    color: white;
    font-size: 250%;
  }
  .mobileMenu{
    width: 50%;
    height: 100%;
    background: #131530;
    position: fixed;
    left: 0;
    z-index: -2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobileMenu a{
    color: white;
    padding: 2% 5% 2% 5%;
  }
  .mobileMenu a:hover{
    background: #54A1AF;
    color: white;
    text-decoration: none;
    border-radius: 10px;
  }
  .Heading{
    margin-right: 0;
    /* margin-bottom: 30vh; */
    margin-top: 0;
  }
  .secOne{
    /* background: #D6D6D6; */
    width: 100vw;
    height: 200vh;
    position: relative;
  }
  .containers{
    color: black;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate(-50%,0);
  }
  .containers>div{
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 10%;
  }
  .secTwo{
    position: relative;
    min-width: 100vw;
    height: auto;
    background-image: linear-gradient(to bottom, #74C9D9, #000000);
  }
  .innerSecTwo{
    height: auto;
    min-width: 100vw;
  }
  .isoCity{
    position: absolute;
    margin: 20px auto;
  }
  .quarterSection{
    padding: 0!important;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
  }
  #tendImg{
    width: 100%;
  }
  .regisCarousel{
    width: 50%;
    transform: translate(-30%,0);
  }
  .halo{
    /* display: none; */
    transform: rotate(90deg);
    transform-origin: center;
    width: 145%;
    height: 100vw;
    margin-top: 5%;
  }
  .Box1,.Box2,.Box3{
    margin: 0;
    white-space: normal;
  }
  .Box1>p,.Box2>p,.Box3>p{
    margin-top: 0;
  }
  .Box1>h4,.Box2>h4,.Box3>h4{
    margin-bottom: 0;
  }
  .footPath{
    display: none;
  }
  .bubbleWhy{
    height: 100vh;
  }
  .headerLogo{
    margin:0;
    border-radius: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    z-index: 2;
  }
  .headerLogo>img{
    width: 7vh;
  }
  .lightBalls{
    background: none;
  }
  .lightBalls>h2{
    color: white;
  }
  .imgProgrammer{
    margin: 0;
    margin-top: 20%;
  }
  .flexContent{
    height: auto;
  }
  .flexContent>div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: auto;
  }
  .flexContent>div>div{
    width: 60%;
  }
  .flexContent>div:nth-child(2){
    transform: translate(0,0);
  }
  .flexContent>div:nth-child(3){
    transform: translate(0,0);
  }
  .flexContent>div:nth-child(4){
    transform: translate(0,0);
  }
  .aboutSection{
    margin: 0 auto;
    width: 80%;
    top: 50%;
    left: auto;
  }

  .isoCity{
    width: 65%;
    height: auto;
    left: 19%;
  }
  .Register>h1{
    color: black;
  }
  .regButton{
    border-color: white;
    color: white;
  }
  .clg{
    width: 100%;
  }
  .bottomstatus{
    display: none;
  }
  .flexRow{
    flex-direction: column;
    align-items: center;
  }
  .flexImg{
    flex-direction: column;
  }
  .slick-next{
    left: 50px;
  }
  .slick-prev, .slick-next{
    width: 50px;
    height: 50px;
    top: 123%;
  }
  .slick-prev:before, .slick-next:before{
    font-size: 50px;
  }
  .secThree{
    height: 225vh;
    min-width: 100vw;
    background-image: linear-gradient(to bottom, #54A1AF, #4E3F83);
  }
  .spNmpBox{
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .sponsorBox{
    flex-direction: column;
    height: 75%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 5%;
  }
  .mediaBox{
    flex-direction: column;
    height: 25%;
    width: 100%;
  }
  .caption{
    height: 100px;
    width: 100%;
    background : #131530;
    border-radius: 50px 50px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .caption>h1{
    transform: rotate(0);
  }
  .locDetails>p{
    font-size: 90%!important;
  }
  .secFooter{
    width: 100vw;
    height: 120px;
    border-width: 0;
    border-top-width: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: 50%;
    padding: 0;
  }
  .secFooter .logo{
    display: flex;
    flex-direction: row;
    min-height: 100%;
  }
  .copyText{
    display: flex;
    align-items: center;
  }
  .secFooter p:nth-last-child(1){
    white-space: wrap; transform: rotate(0); margin-bottom: 0;
  }
  .secFooter img{
    max-height: 50px;
    max-width: 100px;
    margin: 5%;
  }
}
